@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #c1987a;
	--accent: #c2b19d;
	--secondary: #f8f7f6;
	--muted: #6c757d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--primary: #c1987a;
		--accent: #c2b19d;
		--secondary: #f8f7f6;
		--muted: #6b7280;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
